<h1>The winning numbers are:</h1>
<p><%= @numbers %></p>
<ol>
  <li><%= @lucky_numbers %></li>
  <li><%= @lucky_numbers %></li>
  <li><%= @lucky_numbers %></li>
  <li><%= @lucky_numbers %></li>
  <li><%= @lucky_numbers %></li>
  <li><%= @lucky_numbers %></li>
</ol>