<h1>The winning numbers are:</h1>

<ol>
  <li><%= @lucky_numbers[0] %></li>
  <li><%= @lucky_numbers[1] %></li>
  <li><%= @lucky_numbers[2] %></li>
  <li><%= @lucky_numbers[3] %></li>
  <li><%= @lucky_numbers[4] %></li>
  <li><%= @lucky_numbers[5] %></li>
</ol>